<% unless comment.archived? %>
<div class="card">
  <div class="card-header bg-info">
    <%= comment.commenter %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= comment.body %></h5>
    <p class="card-text"> </p>
    <% if user_signed_in?%>
    <% if current_user.id == comment.user_id %>
    <%= link_to "Destroy Comment", [comment.article, comment], data: {turbo_method: :delete,turbo_confirm: "Are you sure?"},class:"btn btn-dark" %>
    <%= link_to "Edit", edit_comment_path([comment]),class:"btn btn-dark" %>
    <% end %>
    <% end %>
  </div>
</div>
<br>
<% end %>
