<%= form_with model: article do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title , class: "bg-violet-600 text-dark rounded-md w-[100px] ml-auto mt-10 py-2"%>
    <% article.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body ,class: "bg-violet-600 text-dark rounded-md w-[100px] ml-auto mt-10 py-2"%><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
    <div>
    <%= form.number_field :user_id,type: :hidden, value: current_user.id %><br>
    <% article.errors.full_messages_for(:user_id).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div>
  <%= form.label :status %><br>
  <%= form.select :status, ['public', 'private', 'archived'], selected: 'public' %>
</div>

<br>
  <div>
    <%= form.submit class: "bg-violet-600 text-white rounded-md w-[100px] ml-auto mt-10 py-2 btn btn-dark" %>
  </div>
<% end %>
