<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group row">
    <%= f.label :email, class:"col-sm-2 col-form-label" %><br />
    <div class="col-sm-10">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control-plaintext border" %>
    </div>
  </div>
  <br>
  <div class="form-group row">
    <%= f.label :password, class:"col-sm-2 col-form-label"%><br />
    <div class="col-sm-10">
    <%= f.password_field :password, autocomplete: "current-password" ,class:"form-control-plaintext border"%>
    </div>
  </div>
  <div class="row">
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  </div>
  <br>
  
  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-primary" %>
  </div>
  <br>
<% end %>

<%= render "devise/shared/links" %>

