<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item btn btn-dark" >
          <%= link_to "POST", articles_path, class: "nav-link" %>
        </li>

        <% if user_signed_in? %>
          <li class="nav-item btn btn-dark">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "nav-link " %>
        </li>
      </ul>
      <ul>
        <li class="nav-item btn btn-dark">
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "navbar-link btn btn-danger" %>
        </li>
      </ul>
      <%else%>
      <li class="nav-item btn btn-dark">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
          <li class="nav-item btn btn-dark">
          <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
        </li>
        <% end %>
    </div>
  </div>
</nav>
